.app-header.bg-dark .navbar-brand,
.app-header.bg-primary .navbar-brand,
.app-header.bg-secondary .navbar-brand,
.app-header.bg-danger .navbar-brand,
.app-header.bg-warning .navbar-brand,
.app-header.bg-success .navbar-brand,
.app-header.bg-info .navbar-brand,
.app-header.bg-blue .navbar-brand,
.app-header.bg-light-blue .navbar-brand,
.app-header.bg-indigo .navbar-brand,
.app-header.bg-purple .navbar-brand,
.app-header.bg-pink .navbar-brand,
.app-header.bg-red .navbar-brand,
.app-header.bg-orange .navbar-brand,
.app-header.bg-yellow .navbar-brand,
.app-header.bg-green .navbar-brand,
.app-header.bg-teal .navbar-brand,
.app-header.bg-cyan .navbar-brand,
.app-header.bg-white .navbar-brand,
{
    width: 250px;
    justify-content: left;
    padding: 0 2.25rem;
    font-size: 1.4rem;
}
